
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #333;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 1rem 2rem;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.welcome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #34495e;
  color: white;
  padding: 3rem 2rem;

}

.welcome-text {
  max-width: 30%;
  margin: 0px;
}

.welcome-text h1 {
  font-size: 50px;
  margin-bottom: -10px;
}

.welcome-text button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.welcome-image {
  background-color: #95a5a6;
  width: 19%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
}

.info {
  background-color: white;
  text-align: center;
  padding: 2rem 2rem;
}

.info h2 {
  margin-bottom: 2rem;
}

.info-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}

.info-box {
  width: 15%;
  margin: 0.5rem;
  text-align: center;
}

.info-box-content {
  background-color: #ecf0f1;
  height: 200px;
  border: 2px solid #3498db;
  border-radius: 5px;
}

.quote {

  background-color: #bdc3c7;
  text-align: center;
  padding: 100px;
  font-style: italic;
  font-size: 30px;

  
}

.cite {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 20px;
  text-align: end;

}


.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 2rem;
  margin: 80px 220px;
  border-radius: 5px;
}
.cta-text {
  display: flex;
  flex-direction: column;
  align-items: auto;
}
.cta-text h2 {
  margin-bottom: -5px;
}

.cta-text p {
  margin: 0;
}
.cta button {
  padding: 0.7rem 1.5rem;
  background-color: #3498db;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

footer {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
}
